@use '../utils/colors' as *;

.header__logo {
  display: flex;
  align-items: center;

  &-img {
    width: 91px;
    height: 72px;
  }

  &-text {
    display: inline-block;
    padding-left: 22px;
    font-weight: 600;
    font-size: 48px;
    color: $primary-normal;
  }
}
