$primary-normal: #7e72f2;

$background-0: #fff;
$background-default: #f9f9f9;
$background-500: #ededed;

$typography-0: #fff;
$typography-300: #606060;
$typography-700: #2c2c2c;
$typography-900: #000;

$border-400: #d6d6d6;
$border-500: #979797;