* {box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    
    body {
        background-color: #ccc;
        padding: 40px;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product-card {
        width: 300px;
        height: 430px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .product-card :first-child {
        margin-left: 0;
    }
    
    .product-card__inner {
        height: 100%;
        padding: 25px;
    }
    
    .product-card__image {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 15px;
        height: 70%;
        width: 100%;
    }
    
    .product-card__wrapper {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .rating {
        background-color: #6F64F8;
        padding: 6px 12px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .rating__count {
        color: #EDEDED;
        font-size: 14px;
        display: block;
    }
    
    .rating__image {
        margin-left: 10px;
    }

    .rating__count:not(:first-child) {
        display: none;
    }

    .rating__image:not(:first-child) {
        display: none;
    }

    
    .rating__price {
        font-size: 18px;
    }
    
    .product-card__name {
        color: #2C2C2C;
        margin-top: 16px;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 400;
    }
    
    .product-card__description {
        color: #2C2C2C;
        font-size: 12px;
        font-weight: 300;
    }
    
    .product-card__buttons {
        height: 45px;
        display: flex;
        justify-content: space-between;
    }
    
    .button-wishlist {
       display: flex;
       align-items: center;
       width: 100%;
       justify-content: center;
       border: none;
       cursor: pointer;
    }
    
    .button-wishlist__image {
        background-color: #EDEDED;
        margin-right: 10px;
    }
    
    .button-wishlist__text {
        color: #2C2C2C;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .button-addtocart {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background-color: #6F64F8;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
    
    .button-addtocart__image {
        color: #FFFFFF;
        margin-right: 10px;
    }
    
    .button-addtocart__text {
        text-transform: uppercase;
        font-weight: 600;
    }
    
    